.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/index.html
public/css/app.5fed1581.css
public/img/Background.e32a2f32.png
public/js/app.0de31d89.js
public/js/app.0de31d89.js.map
public/js/chunk-vendors.37971b42.js
public/js/chunk-vendors.37971b42.js.map
